body, html {
    height: 100%;
    margin: 0;
    /* background-image: linear-gradient(#ABE5E6, #7062F0); */
    background-image: linear-gradient(45deg, #405DE6,#5851DB, #C13584, #E1306C, #FD1D1D);
    background-repeat: repeat-y
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
