h1 {
    text-align: center;
}

.card {
    height: 25rem;
    width: 18rem;
    margin-top: 1rem
}

.card-body {
    padding-top: 0.5rem
}

.card-text {
    overflow: scroll;
    height: 70%
}

.form-control {
    padding: .175rem .75rem !important
}

.img-preview {
    max-height: 200px
}

.process-button {
    position: absolute;
    bottom: 1rem
}